<%-include("include/_header") %>

    <a href="/myUsers" class="indexBtns">
        <span  style="display: inline;margin:auto">Korisnici <i class="fas fa-user"></i></span>
    </a>

    <a href="/myClasses" class="indexBtns">
        <span  style="display: inline;margin:auto">Razredi <i class="fas fa-users"></i></span>
    </a>

    <a href="/games" class="indexBtns">
        <span  style="display: inline;margin:auto">Igre <i class="fas fa-chess-board"></i></span>
    </a>

    <a href="/augmentedReality" class="indexBtns">
        <span  style="display: inline;margin:auto">Proširena stvarnost <i class="fas fa-vr-cardboard"></i></span>
    </a>

    <a href="/menu" class="indexBtns">
        <span  style="display: inline;margin:auto">Predaj rješenje <i class="fas fa-reply"></i></span>
    </a>




<%-include("include/_footer") %>
