<%-include("include/_header") %>

<main id="site-main">
    <div class="container">
        <form id="login_user" method="POST" action="/auth/login">
            <div class="new_user">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" value="" placeholder="prezime@mail.com"/>
                </div>
                <div class="form-group">
                    <label for="password">Lozinka</label>
                    <input type="password" name="password" value="" autocomplete="on"/>
                </div>
   

                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Prijavi se</button>
                </div>
               </div>
        </form>
    </div>
</main>

<%-include("include/_footer") %>